{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container d-flex flex-grow-1 mt-5">
        <div class="row gap-5">
            <div class="col">
                <p class="text-white text-start fs-3 m-0">
                    Come and visit our training centre!
                </p>
                <p class="text-white text-start fst-italic fw-lighter">
                    8 Heinrich-Bertmans-Straße, Duisburg, North Rhine-Westphalia
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.541880303934!2d6.777151676985058!3d51.429841616365806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8bf6c012eb52d%3A0x2ef0fb4af656506f!2sHeinrich-Bertmans-Stra%C3%9Fe%208%2C%2047057%20Duisburg%2C%20Germany!5e0!3m2!1sen!2snl!4v1686122202285!5m2!1sen!2snl" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col">
                <p class="text-white text-start fs-3 m-0">
                    Contact us Directly
                </p>
                <p class="fst-bolder text-white m-0">Email: <a href="mailto::trainingfactory@mail.com">trainingfactory@mail.com</a></p>
                <p class="fst-bolder text-white m-0">Number: <a href="tel:+3161284555">Click to call number!</a></p>
            </div>
        </div>
    </div>
{% endblock %}