{% extends 'base.html.twig' %}
{% block title %}Regulations{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center flex-grow-1 mt-5">
        <div class="d-flex flex-column gap-3">
            <p class="text-white text-center fs-2">
                Regulations page
            </p>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">Respect and Sportsmanship:</p>
                <span class="text-white fw-light">
                    All members of the training center, including coaches, staff, and fellow boxers, are expected to treat
                    each other with respect and display good sportsmanship at all times. This includes refraining from
                    any form of physical or verbal abuse.
                </span>
            </div>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">
                    Safety First:
                </p>
                <span class="text-white fw-light">
                    Safety is a top priority in the boxing training center. Every individual must follow all safety rules
                    and guidelines provided by the coaches and staff. This includes wearing appropriate protective gear,
                    adhering to proper training techniques, and reporting any unsafe conditions or equipment immediately.
                </span>
            </div>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">
                    Discipline and Dedication:
                </p>
                <span class="text-white fw-light">
                    Boxers are expected to maintain a high level of discipline and dedication to their training.
                    This includes attending training sessions regularly, arriving on time, and giving their best effort
                    during each session. It also involves following the instructions of the coaches and demonstrating a
                    commitment to personal growth and improvement.
                </span>
            </div>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">
                    Cleanliness and Hygiene:
                </p>
                <span class="text-white fw-light">
                    All members of the training center should maintain proper cleanliness and hygiene. This includes
                    wearing clean workout attire, using appropriate personal protective equipment, and cleaning up after
                    themselves. Keeping the training area and facilities clean and tidy is essential for a healthy and
                    productive training environment.
                </span>
            </div>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">
                    Confidentiality and Respect for Privacy:
                </p>
                <span class="text-white fw-light">
                    Boxers and trainers must respect the privacy and confidentiality of others. Personal information
                    shared within the training center should be kept confidential unless explicit permission is given to
                    share it. It is important to create an environment where individuals feel safe and comfortable to
                    share their experiences and challenges.
                </span>
            </div>
            <div>
                <p class="fs-5 text-white fst-italic fw-bold m-0">
                    Compliance with Rules and Regulations:
                </p>
                <span class="text-white fw-light">
                    Every individual in the training center must adhere to all rules and regulations set forth by the
                    center's management. This includes following local, state, and federal laws, as well as any specific
                    guidelines established by the training center. Compliance is crucial for maintaining a professional
                    and orderly environment.
                </span>
            </div>
            <p class="text-white">These codes of conduct aim to create a positive and supportive atmosphere within the boxing training
                center, ensuring the safety, growth, and well-being of all participants.
            </p>
        </div>
    </div>
{% endblock %}